.wpcf7{
	width: $column * 8;
	margin: 0 auto !important;
	@include media-breakpoint-down( lg ){
		width: $column * 10;
	}
	@include media-breakpoint-down( sm ){
		width: $column * 12;
	}
	&-form{
		display: flex;
		flex-wrap: wrap;
		.input__holder{
			padding: 15px;
			width: 100%;
			position: relative;
			&--half{
				width: 50%;
				@include media-breakpoint-down( xs ){
					width: 100%;
				}
			}
			&--accept{
				width: 70%;
				@include media-breakpoint-down( sm ){
					width: 100%;
				}
			}
			&--submit{
				width: 30%;
				@include media-breakpoint-down( sm ){
					width: 100%;
				}
			}
		}
	}
	&-form-control-wrap{
		width: 100%;
		position: static;
	}
	&-form-control{
		width: 100%;
		height: 70px;
		padding: 0 35px;
		border-radius: 10px;
		border: 1px solid rgba($black,.3);
		outline: 0;
		transition: .3s;
		&:focus{
			border: 1px solid rgba($alt,.6);
			box-shadow: 0 0 10px 0px rgba($base,.2);
		}
	}
	&-textarea{
		height: auto;
		min-height: 100px;
		resize: vertical;
		padding: 30px 35px;
	}
	&-acceptance{
		border: 0;
		padding: 20px 0;
		.wpcf7-list-item{
			margin: 0;
		}
		input{
			margin: 0 10px 0 0;
		}
		a{
			text-decoration: underline;
		}
	}
	&-submit{
		@extend .button;
		margin: 0;
		border: 0;
	}
	&-not-valid-tip{
		position: absolute;
		left: 0;
		right: 0;
		padding:  0 15px;
		font-size: 14px !important;
	}
	&-response-output{
		width: 100%;
		margin: 15px 15px 0 !important;
		padding: 15px !important;
	}
	&-file{
		padding: 20px 35px;
	}
}