body{
	min-width: 320px;
}
.container{
	min-width: 300px;
	width: 100%;
}
@include media-breakpoint-down(xxs) {
	.container{
		max-width: 96%;
	}
}
@include media-breakpoint-only(xs) {
	.container{
		max-width: map-get($container-max-widths, xs);
	}
}
@include media-breakpoint-only(sm) {
	.container{
		max-width: map-get($container-max-widths, sm);
	}
}
@include media-breakpoint-only(md) {
	.container{
		max-width: map-get($container-max-widths, md);
	}
}

@include media-breakpoint-only(lg) {
	.container{
		max-width: map-get($container-max-widths, lg);
	}
}

@include media-breakpoint-only(xl) {
	.container{
		max-width: map-get($container-max-widths, xl);
	}
}

@include media-breakpoint-up(xxl) {
	.container{
		max-width: map-get($container-max-widths, xxl);
	}
}