html{
	font-size: 16px;
	@include media-breakpoint-only(xl){
		font-size: 14px;
	}@include media-breakpoint-down(lg){
		font-size: 15px;
	}
	@include media-breakpoint-down(sm){
		font-size: 13px;
	}
}

@mixin fontSize($size){
	font-size: $size/16px * 1rem;
}