.tabs{
	&__nav{
		margin: 0;
		padding: 0;
		@include clearfix;
		display: inline-flex;
		justify-content:space-between;
		width: 100%;
		> li{
			width: 100%;
			list-style: none;
			height: 100px;
			margin: 0;
			padding: 0 1%;
			border-radius: 10px 10px 0 0;
			transition: .3s ease;
			cursor: pointer;
			font-size: 14px;
			text-align: center;
			&.active{
				background: #F9F9F9;
				color: $base;
				font-weight: $bold;
			}
			display: flex;
			align-items: center;
			img{
				max-height: 30px;
			}
			img,span{
				margin: 0 auto;
			}
		}
	}
	&__wrap{
		position: relative;
		@include clearfix;
		background: #F9F9F9;
		padding: 40px;
		border-radius: 0 0 10px 10px;
		margin-bottom: 50px;
		min-height: 300px;
		> li{
			visibility: hidden;
			position: absolute;
			padding-right: 40px;
			width: 100%;
			&:first-child{
				visibility: visible;
			}
		}
	}
}