.gallery{
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0 20px;
	width: 100%;
	list-style: none;
	&-item{
		width: $column * 4;
		padding: 0 15px 30px;
		margin: 0;

	}
	&-icon{
		width: 100%;
		height: 100%;
		position: relative;
		&:after{
			content: '';
			display: block;
			padding-top: 65%;
		}
		a{
			display: flex;
			position: absolute;
			width: 100%;
			height: 100%;
			img{
				object-fit: cover;
				max-height: 100%;
			}
		}
	}
}

.wp-block-gallery{
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0 20px !important;
	margin: 0 !important;
	width: 100%;
	list-style: none;
	&.columns-6{
		.blocks-gallery-item{
			width: $column * 2;
			@include media-breakpoint-only( lg ){
				width: $column * 4;
			}
		}
	}
	&.columns-5{
		.blocks-gallery-item{
			width: $column * 2.4;
			@include media-breakpoint-down( lg ){
				width: $column * 4;
			}
		}
	}
	&.columns-4{
		.blocks-gallery-item{
			width: $column * 3;
			@include media-breakpoint-down( lg ){
				width: $column * 4;
			}
		}
	}
	&.columns-3{
		.blocks-gallery-item{
			width: $column * 4;
		}
	}
	&.columns-2{
		.blocks-gallery-item{
			width: $column * 6;
		}
	}
	&.columns-1{
		.blocks-gallery-item{
			width: $column * 12;
			max-width: $column * 10;
			margin: 0 auto;
		}
	}
	&.is-cropped{
		.blocks-gallery-item{
			figure{
				img{
					object-fit: cover;
					max-width: 100%;
					min-height: 100%;
					max-height: initial;
				}
			}
		}
	}
	.blocks-gallery{
		&-item{
			padding: 0 15px 30px;
			margin: 0;
			position: relative;
			z-index: 0;
			width: $column * 2;
			@include media-breakpoint-between( sm , md ){
				width: $column * 6 !important;
			}
			@include media-breakpoint-only( xs ){
				margin: 0 auto;
				width: $column * 10 !important;
			}
			@include media-breakpoint-down( xxs ){
				width: $column * 12 !important;
			}
			&:after{
				content: '';
				display: block;
				padding-top: 57%;
			}
			figure{
				margin: 0;
				// display: flex;
				// width: 100%;
				// height: 100%;
				// position: relative;
				position: absolute;
				top: 0;
				left: 15px;
				right: 15px;
				bottom: 30px;
				&:hover{
					figcaption{
						opacity: 1;
						visibility: visible;
					}
				}
				figcaption{
					position: absolute;
					bottom: 10px;
					background: $white;
					box-shadow: 0 0 5px $base;
					padding: 10px;
					left: 20%;
					right: 20%;
					text-align: center;
					transition: .4s;
					@include media-breakpoint-up( lg ){
						opacity: 0;
						visibility: hidden;
					}
				}
				a{
					height: 100%;
					width: 100%;
					display: flex;
					overflow: hidden;
					justify-content: center;
					align-items: center;
				}
				img{
					// object-fit: cover;
					// max-width: 100%;
					// // width: 100%;
					// min-height: 100%;
					object-position: center;
					display: block;
					max-width: 100%;
					object-fit: contain;
					max-height: 100%;
				}
			}
		}
	}
}
